body a{
    text-decoration: none;
}
header{
    background-color: #ee4d2d;
    font-size: .825rem;
    margin-bottom: 20px;
}
.menu1 ul li a {
    color: white;
}
.menu1 .icons{
    font-size: 23px;
    margin-right: 10px;
}
.menu1 ul li a:hover {
    color: rgb(178, 175, 175);
}
.vl {
    border-left: 2px solid rgba(228, 230, 228, 0.728);
    height: 15px;
    margin-top: 10px;
}
.menu2{
    margin-top: 10px;
}
.menu2 .small ul li a{
    margin-top: -10px;
    margin-left: 20px;
}
.menu2 .row .buy{
    color: white;
    font-size: 30px;
    margin-left: 30px;
}
.b .carousel-inner .carousel-item img{
    width: 100%;
    height: 450px;
}
content .row .img-a{
    margin-bottom: 10px;
}
content .row {
    margin-left: 15px;
    margin-right: 15px;
}
.row .border a{
    font-size: .875rem;
    -webkit-text-size-adjust: none;
    font-family: Helvetica Neue,Helvetica,Arial,文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
    line-height: 1.2;
    background-color: transparent;
    color: inherit;
    text-decoration: inherit;
}
.menu2 .icon-shopee-logo{
    margin-left: 40px;
    fill: #fff;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 50px;}
.xZ4bbg {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    width: 1200px;
    margin: 10px auto 0;
    min-height: 108px;
}
.xZ4bbg a {
    color: inherit;
    text-decoration: inherit;
}
div {
    display: block;
}
._2Ehn-F {
    margin: 18px auto 8px;
}
.ybDQTz {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.dNmwQY {
    height: 100%;
    border-radius: 0;
}
.n-CE6j {
    position: relative;
}
._5l6amx, .LLE7qG {
    height: 100%;
}
.edy5hG {
    opacity: 1;
    transition: opacity .2s ease;
}
.KSe2W7 {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: .8125rem;
    line-height: .875rem;
    max-width: 150px;
    margin-bottom: 8px;
    word-wrap: break-word;
    overflow: hidden;
    }
.TF67TG {
    color: #222;
    letter-spacing: 0;
    text-align: center;
}
.shopee-content .img-b{
    margin-top: 20px;
    margin-left: 55px;
    margin-bottom: 20px;
}
.shopee-content{
    background-color: rgba(231, 226, 226, 0.963);
}
.shopee-content .hd{
    height: 30px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #fff;
}
.img-s {
transition: transform .2s;
    width: 150px;
    height: 180px;
    margin: 0 auto;
  }
  /*Hiệu ứng zoom*/
  .img-s:hover {
    transform: scale(1.2);
  }
.shopee-fl{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
.search-hot hr:not([size]) {
    height: 5px;
    width: 50px;
    margin-top: 60px;
    margin-left: -15px;
    color:#ee4d2d;
}
.card{
    text-align: center;
    border: none;
    margin-top: -10px;
    height: 100%;
    width: 100%;
}
.shopee-content .card img{
    margin: auto;
    width: 90px;
    height: 90px;
}
.shopee-content .card .card-body .card-text{
    font-size: .875rem;
    text-decoration: none;
    color: #222;
}
.card .card-body .card-text:hover {
    color:#ee4d2d;
}
.sQ9tKt {
    background-color: #fff;
    margin-left: 50px;
    fill:#fff;
}
.row .col .fl{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.shopee-mall .carousel-inner .carousel-item img{
    width: 100%;
    height: 350px;
}
.shopee-mall .row p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.shopee-mall .card img{
    width:100px;
    height: 102px;
}
.search-hot {
    background-color: rgba(231, 226, 226, 0.295);
    margin-top: 20px;
}
.search-hot .card .sr img {
    width: 170px;
    height: 170px ;
}
footer .first .hd{
    margin-left: 26px;
    margin-top: 15px;
    font-size: 18px;
}
footer p,a {
    font-size: .770rem;
    color:rgba(41, 39, 39, 0.623);
}
footer a:hover{
    color:#ee4d2d;
}
footer .second {
    height: 390px;
    padding-top: 50px;
}
footer .third {
    height: 70px;
    margin-top: 20px;
}
footer hr:not([size]) {
    width: 90%;
    margin-top: 10px;
    margin-left: 75px;
    color:#bcb7b6a2;
}
footer .four .logo {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 450px;
}
footer .four .logo .img-1{
    margin-right: 30px;
}
footer .four .logo .img-2{
    margin-right: 30px;
}
footer .copy-right{
    font-size:xx-small;
}

